{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block container %}

{% for post in posts %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                    <div class="col-md-6">
                        <h3><strong>{{ post.title }}</strong></h3>
                        <h4><small>发表@{{ post.timestamp }}</small></h4>
                    </div>
                    {% if current_user == post.author %}
                    <div class="col-md-2 col-md-offset-4 hidden-xs">
                        <a class="btn btn-sm btn-info" type="button" href="{{url_for('.edit',id=post.id)}}">编辑</a>
                        <a class="btn btn-sm btn-danger" type="button" href="{{url_for('.delete',id=post.id)}}">删除</a>
                    </div>
                    {% endif %}
                    </div>
                    <hr>
                        {{ post.body|markdown2html|markdown|safe }}
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-body">
                    <h4>评论区</h4>
                    {% for comment in comments %}
                    <hr>
                    <div class="media">
                        <div class="media-left">
                              <img class="media-object" style="width:42px;height:42px;" src="{{ url_for('static',filename='default.jpg')}}" alt="123">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ comment.author.username }}</h4>
                        {% if comment.body_html %}
                            <p>{{ comment.body_html | safe }}</p>
                        {% else %}
                            <p>{{ comment.body| safe }}</p>
                        {% endif %}
                        </div>
                    </div>
            {% endfor %}
                </div>
            </div>
            <div>
                <form id="user-comment" class="form-inline" method="post" >
		            {{ form.hidden_tag() }}
		            <div class="form-group">
		            {{ form.body(class_='form-control',placeholder="发表评论") }}
		            </div>
		            <input class="btn btn-info" type="button" onclick="comments();" value="发表评论">
		        </form>
            </div>
{% endfor %}
{% if pagination and pagination.pages > 1 %}
<nav class="col-md-4 col-md-offset-4">
    <nav aria-label="Page navigation">
        {{ macros.pagination_widget(pagination, 'main.post') }}
    </nav>
</nav>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $("table").addClass("table table-hover table-bordered");
</script>
<script>
function comments() {
    $("#user-comment").submit();}
//    $.ajax({
//        type:"post",
//        data:$("#user-comment").serialize(),
//        dataType:"json",
//        url:window.location.href,
//        success:function(data){
//					window.location.href;
//        },
//        error:function(data){
//					alert("Sorry.");
//        }
//    })
//}
</script>
{% endblock %}