{% extends "bootstrap/base.html" %}
<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {% block title %} asherlive {% endblock %}
</head>
{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</nav>
{% endblock %} {% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-9">
            {% block container %} {% endblock %}
        </div>
        <div class="col-md-3">
            <nav class="sidebar">
                <ul class="nav nav-stacked">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

</html>
