{% extends "bootstrap/base.html" %}
<!DOCTYPE HTML>
<html>

{% block title %} asherlive {% endblock %}
{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="{{url_for('main.index')}}">Asherlive</a>
    </div>
    {% set navigation_bar = [('/', 'index', '首页'),('#', 'python', '分类'), ('#', 'ruby', '标签') ] -%} {% set active_page = active_page|default('index') -%}
<div class="collapse navbar-collapse" id="navbar-collapse-1">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            {% for href, id, caption in navigation_bar %}
            <li role="presentation" {% if id==active_page %} class="active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li> {% endfor %}
            {% if not current_user.is_authenticated %}
            <li role="presentation"><a href={{url_for('auth.login')}}>登录</a></li>
            {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('main.post')}}">发表文章</a></li>
                    <li><a href="{{url_for('auth.change_password')}}">更改密码</a></li>
                    <li><a href="{{url_for('auth.change_email_request')}}">更改邮箱</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('auth.logout')}}">退出</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
</nav>


{% endblock %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{ message }}
           </div>
        {% endfor %}
        {% block page_content %}
        <div class="col-md-8 col-md-offset-2">
            {% block container %} {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% block footer %}
        <blockquote class="blockquote-reverse">
        <hr>
            <div class="col-md-4 col-md-offset-8">
                <div>
                    <h4>about me</h4>
                    <h5><a href="https://github.com/Mdoctor" target="_blank">github</a></h5>
                </div>
            </div>
        <footer>这个博客使用flask框架，搭建在阿里云服务器</footer>
        </blockquote>
    {% endblock %}
</div>
{% endblock %}



</html>
